
# ignore the settings folder and files for VSCode and PSS
.vscode/*
*.psproj
*TempPoint*

# Ignore staging info from Visual Studio
library/PsDemoScript/.vs/*
library/PsDemoScript/PsDemoScript/bin/*
library/PsDemoScript/PsDemoScript/obj/*

# ignore PowerShell Studio MetaData
PsDemoScript/PsDemoScript.psproj
PsDemoScript/PsDemoScript.psproj.bak
PsDemoScript/PsDemoScript.psprojs
PsDemoScript/PsDemoScript.psproj

# ignore the TestResults
TestResults/*

# ignore the publishing Directory
publish/*